body {
    font-family: 'Roboto', sans-serif;
}

.full-conteiner {

    width: 417px ;
    height: 655px;
    background-color: white;
    border: rgb(0, 0, 0) 1px solid ;
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;

}

#email, #password {
    width: 297px;
    height: 77px;
    background-color: white;
}

input::placeholder {
    font-family: 'Roboto', sans-serif;
}